@model MicroondasApp.Models.Microondas

@{
    ViewData["Title"] = "Microondas Digital";
}

<h2>Micro-ondas Digital</h2>

<form>
    <label>Tempo (segundos):</label>
    <input type="number" name="tempo" value="@Model.TempoSegundos" min="1" max="120" id="tempoID"/>

    <label>Potência:</label>
    <input type="number" name="potencia" value="@Model.Potencia" min="1" max="10" />

    <button type="submit" onclick="iniciarAquecimento();">Iniciar</button>
</form>

<form asp-action="PausarOuCancelar" method="post">
    <button type="submit">@(@Model.EmPausa ? "Continuar" : "Pausar/Cancelar")</button>
</form>

<form asp-action="AdicionarTempo" method="post">
    <button type="submit">Adicionar 30s</button>
</form>

@if (Model.EmExecucao)
{
    <h3>Aquecendo...</h3>
    <p>@Model.Aquecimento</p>
}

<h3>Programas de Aquecimento</h3>
@foreach (var programa in Model.Programas)
{
    <form asp-action="SelecionarPrograma" method="post">
        <input type="hidden" name="nome" value="@programa.Nome" />
        <button type="submit">@programa.Nome</button>
    </form>
}

<script>
    let tempoRestante = parseInt(document.getElementById("tempoID").innerText, 10);
    let timerInterval;

     function iniciarAquecimento() {
         // if (tempoRestante > 0) {
         //     timerInterval = setInterval(() => {
         //         if (tempoRestante > 0) {
         //             tempoRestante--;
         //             document.getElementById("tempoID").innerText = formatarTempo(tempoRestante);
         //         } else {
         //             clearInterval(timerInterval);
         //             alert("Aquecimento concluído!");
         //         }
         //     }, 1000); // Atualiza a cada 1 segundo
         // }

             setInterval(() => {
                        console.log("Olá");
            }, 1000);

     }


     function abc() {
         console.log('abca')
     }
</script>