@model MicroondasApp.Models.Microondas

@{
    ViewData["Title"] = "Microondas Digital";
}

<h2>Micro-ondas Digital</h2>

<form asp-action="Iniciar" method="post" onsubmit="event.preventDefault();">
    <label>Tempo (segundos):</label>
    <input type="number" name="tempo" value="@Model.TempoSegundos" min="1" max="120" id="tempoID"/>

    <label>Potência:</label>
    <input type="number" name="potencia" value="@Model.Potencia" min="1" max="10" />

</form>
    <button type="submit" onclick="iniciarAquecimento();">Iniciar</button>

<form asp-action="PausarOuCancelar" method="post" onsubmit="event.preventDefault();">
    <button type="submit">@(@Model.EmPausa ? "Continuar" : "Pausar/Cancelar")</button>
</form>

<form asp-action="AdicionarTempo" method="post" onsubmit="event.preventDefault();">
    <button type="submit">Adicionar 30s</button>
</form>

@if (Model.EmExecucao)
{
    <h3>Aquecendo...</h3>
    <p>@Model.Aquecimento</p>
}

<h3>Programas de Aquecimento</h3>
@foreach (var programa in Model.Programas)
{
    <form asp-action="SelecionarPrograma" method="post">
        <input type="hidden" name="nome" value="@programa.Nome" />
        <button type="submit">@programa.Nome</button>
    </form>
}

<script>
    
     function iniciarAquecimento() {
        let tempoRestante = document.getElementById("tempoID").value
        let timerInterval;
        
         if (tempoRestante > 0) {    
             timerInterval = setInterval(() => {
                 if (tempoRestante > 0) {
                     tempoRestante--;
                     document.getElementById("tempoID").value = tempoRestante;
                    console.log(tempoRestante)
                 } else {
                     clearInterval(timerInterval);
                     alert("Aquecimento concluído!");
                 }
             }, 1000);
         }           
     }

</script>
